<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafico-dona [graficoTitulo]="graficos.grafico1.labels" [graficoDato]="graficos.grafico1.data" [graficoTipo]="graficos.grafico1.type"></app-grafico-dona>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafico-dona [graficoTitulo]="graficos.grafico2.labels" [graficoDato]="graficos.grafico2.data" [graficoTipo]="graficos.grafico2.type"></app-grafico-dona>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafico-dona [graficoTitulo]="graficos.grafico3.labels" [graficoDato]="graficos.grafico3.data" [graficoTipo]="graficos.grafico3.type"></app-grafico-dona>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafico-dona [graficoTitulo]="graficos.grafico4.labels" [graficoDato]="graficos.grafico4.data" [graficoTipo]="graficos.grafico4.type"></app-grafico-dona>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>